/* import section for things like fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/* FOOTER */

footer {
    border-color: transparent;
    text-align: center;
}

.foot {
    margin-bottom: 20px;
}

a {
    padding: 5px 15px 5px 10px;
    background-color: transparent;
}

.alignment {
    line-height: 2px;
}

i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888888;
    background-color: #c3c3c3;
    color: #8f8f8f;
    width: 41px;
    height: 41px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

i:hover {
    color: #564f6f;
}

/* MEDIA QUERIES */